@model CheeseMVC.ViewModels.AddMenuViewModel

@{
    ViewBag.Title = "New Menu";
}

<h2>Add Menu</h2>

<form asp-controller="Menu" asp-action="Add" method="Post">
    <div class="form-group">
        <label asp-for="Name" ></label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name"></span>
    </div>
    <input type="submit" value="Create Menu" />
</form>